.footer__items {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

@media screen and (max-width: 568px) {
  .footer__items {
    flex-direction: column;
    align-items: flex-start;
  }
}