.intro__list {
  font-size: 12px;
  line-height: 1.5;
  font-weight: 400;
  list-style: none;
  padding: 0;
  margin-top: 33px;
  margin-bottom: 0;
}


@media screen and (max-width: 568px) {
  .intro__list {
    margin-top: 34px;
  }
}