.cover__subtitle {
  font-size: 18px;
  line-height: 1.22;
  text-align: center;
  font-weight: 400;
  max-width: 360px;
  margin: 16px 0 0;
}


@media screen and (max-width: 568px) {
  .cover__subtitle {
    font-size: 14px;
    line-height: 1.14;
    max-width: 288px;
    margin: 8px 0 0;
  }
}

