.header__link {
  color: white;
  text-decoration: none;
  font-size: 24px;
  line-height: 1.666;
  font-weight: 400;
  }

@media screen and (max-width: 767px) {
  .header__link {
    font-size: 18px;
    line-height: 1.1;
  }
}
