.lead__image {
  max-width: 100%;
  margin: 64px 0 0;
  padding: 0;
}

@media screen and (max-width: 1140px) {
  .lead__image {
    margin: 56px auto 0;
  }
}

@media screen and (max-width: 568px) {
  .lead__image {
    margin: 40px auto 0;
  }
}

