.intro {
  width: calc(100% - 2 * 148px);
  margin: auto;
  padding: 92px 0 0 148px;
}

@media screen and (min-width: 1279px) {
  .intro {
    width: calc(100% - 2 * 48px);
  }
}

@media screen and (min-width: 1023px) {
  .intro {
    width: calc(100% - 2 * 48px);
    margin: auto;
  }
}

