.intro {
  width: calc(100% - 2 * 148px);
  margin: auto;
  padding: 92px 0 0 148px;
}

@media screen and (max-width: 1140px) {
  .intro {
    width: calc(100% - 2 * 48px);
  }
}

@media screen and (max-width: 984px) {
  .intro {
    width: calc(100% - 2 * 48px);
    margin: auto;
  }
}

