.lead__subtitle {
  max-width: 640px;
  margin: 32px auto 0;
  font-size:30px;
  line-height: 1.2;
  font-weight: 400;
  font-style: normal;
  text-align: center;
}

@media screen and (max-width: 568px) {
  .lead__subtitle {
    margin: 16px 0 0;
    font-size: 16px;
    line-height: 1.25;
    max-width: 288px;
  }
}