.footer__item {
  display: flex;
  justify-content: space-around;
  text-align: center;
  margin-right: 18px;
}

.footer__item:last-of-type {
  margin: 0;
}

@media screen and (max-width: 568px) {
  .footer__item {
    margin: 0 0 32px;
  }

  .footer__item:last-of-type {
    margin-bottom: 48px;
  }
}