.intro__title {
  font-size: 54px;
  line-height: 1.07;
  font-style: normal;
  font-weight: 900;
  margin: 0;
  padding: 0;
  text-rendering: optimizeLegibility;
}

@media screen and (max-width: 568px) {
  .intro__title {
    font-size: 32px;
    line-height: 1.1;
  }
}